<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">


  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/home.css">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
  <!-- <script type='text/javascript' src='https://app.ticketmaster.com/discovery/v2/events.json?apikey=l9XiABE2P5GIQGAhtFcErCCFoA2Ap9R4'> </script> -->
  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <!-- Latest compiled and minified Bootstrap JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <link href="https://fonts.googleapis.com/css?family=Titillium+Web" rel="stylesheet">

  <title>Home</title>
</head>
<body>

  <!-- <nav class="navbar navbar-expand navbar-default">
  <a class="navbar-brand" href="/">Songwriter's Corner</a>
  <form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
</form>
<div class="dropdown show">
<a class="btn btn-secondary dropdown-toggle" href="/signup_login" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
My Account
</a>

<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
<a class="dropdown-item" href="/signup_login">Sign In</a>
</div>
</div>
<li class="nav-item">
<a class="nav-link" href="#">FAQ</a>
</li>
</nav> -->

<nav class="navbar navbar-expand navbar-default">
  <a class="navbar-brand" href="/">Songwriter's Corner</a>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
  </form>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      User
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="/dashboard">My Dashboard</a>
      <a class="dropdown-item" href="#">My Lyrics</a>
      <a class="dropdown-item" href="/home">Sign Out</a>
    </div>
  </div>
  <a class="faq" href="#">FAQ</a>
</nav>


<div class="sidenav">
  <p><a href="#">Top Rated Lyrics</a></p>
  <ul>Browse All Lyrics
    <li><a href="#">Alphabetical</a></li>
    <li><a href="#">By Genre</a></li>
    <li><a href="#">By Tags</a></li>
  </ul>
</div>

<div class="main">
</div>
</body>
</html>
