h2 {
  margin-top: 2em;
  margin-bottom: 4em;
  text-align: center;
}
.fa {
  color: black;
  padding-right: 1em;
}

.fa-star {
  margin-right: -0.3em;
}
#edit_profile {
  background-color: #FF4900;
  border-color: #FF4900;
  color: black;
  margin-left: 30em;
  margin-bottom: 5em;
}

#my_lyrics {
  background-color: #FF4900;
  border-color: #FF4900;
  color: black;
  margin-left: 13em;
  margin-bottom: 4em;
}

#add_lyrics {
  background-color: #FF4900;
  border-color: #FF4900;
  color: black;
  margin-bottom: -20em;
  margin-left: -44.5em;
}

#rated_lyrics{
  background-color: #FF4900;
  border-color: #FF4900;
  color: black;
  margin-bottom: -20em;
  margin-left: 13em;
}
