/* Sign In */

#email {
  margin-left: 0em;
}

#password {
  margin-left: 0em;
}

.forgot-pwd{
  margin-left: 1em;
}

.new-account {
  margin-left: 1em;
}

.sign-in {
  color: #000;
  margin-left: 2em;
  margin-bottom: 0.5em;
}

/* Sign Up */

#first_name {
  margin-left: 0em;
}

#last_name {
  margin-left: 0em;
}

#email_signup {
  margin-left: 0em;
}

#password_signup {
  margin-left: 0em;
}

#city {
  margin-left: 0em;
}

#btn_login {
  padding-right: 25.2em;
}

#btn_signup {
  margin-left: -50em;
  padding-right: 25.1em;
}

/* Side nav */

ul {
  margin-left: -1.5em;
}

ul li {
  list-style-type: none;
  line-height: 1em;
}

.sidenav {
    height: 95%;
    width: 180px;
    position: fixed;
    top: 74;
    left: 0;
    background-color: #CCC;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #000;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
